#main-img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 5%;
}

.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-template-areas: "header main";
}

@media (max-width: 1050px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 65%;
    align-self: center;
    position: static;
    top: 0;
  }

  .footer-flex {
    margin-left: 2%;
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .menu-item {
    display: inline-block;
  }

  .menu-item-inner {
    display: none;
  }

  #item-1 {
    display: none;
  }

  .menu-item > a:hover {
    color: #7570ad;
    background-color: black;
  }

  .header-main {
    position: relative;
  }

  #item-2 {
    position: absolute;
    left: 0;
  }

  #item-3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #item-4 {
    position: absolute;
    right: 0;
  }
}

.text {
  color: white;
  margin-bottom: 5%;
  margin-top: 2%;
  text-align: justify;
  font-family: monospace;
}

.image-text {
  flex: 1 1 0;
  width: 65%;
}

.performance-menu {
  list-style: none;
}

.menu-item > a {
  color: rgb(54, 54, 143);
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
}

.current-menu-item > a {
  background-color: rgb(54, 54, 143);
  color: white;
}

.footer-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
}

@media (max-width: 756px) {
  .footer-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    gap: 2%;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 567px) {
  .footer-flex {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    gap: 2%;
    margin-bottom: 10%;
  }
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.performance-instance {
  padding: 0;
  text-align: start;
}
