body {
  background: url(Less-than-the-sum-background.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .offcanvas {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0px);
  }
}

.container-fluid a {
  color: rgb(54, 54, 143);
}

.container-fluid a:hover {
  color: #7570ad;
}
